.bod {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1 {
    color: #343a40;
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    color: #343a40;
    text-align: center;
    text-decoration-line: underline; 
}

h3 {
    text-decoration-line: underline;
    text-align: center;
    font-size: larger;
}

.map {
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
    float: left;
    margin: 1px;
    border-radius: 25px;
    border: 2px solid #343a40;
    width: 33%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column:hover {
    border: 2px solid slategray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
  
.row::after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}