Style the body and container
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}


/* Style the buttons */
.btn-secondary {
    background-color: #fff;
    color: #343a40;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-secondary:hover {
    background-color: #343a40;
    color: #fff;
}

.btn-primary {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #343a40;
    border: 2px solid #343a40;
}

/* Style the card */
.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

.custom-img-size {
    object-fit: cover;
}

/* Style the basket */
#basket {
    max-height: 300px;
    overflow-y: auto;
}

.list-group-item {
    border: none;
    font-size: 16px;
}

/* Style the quantity input */
.quantity {
    width: 70px;
}

/* Style the submit button */
input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
}

.plus-minus-input .button {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .plus-minus-input .button:hover {
    background-color: #ddd;
  }
  
  .plus-minus-input .button:active {
    background-color: #ccc;
  }
  
  .plus-minus-input .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .plus-minus-input .input-group-field {
    height: 28px;
    width: 120px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
  
  
  .plus-minus-input .input-group-button {
    display: inline-block;
    vertical-align: middle;
  }
  
  .plus-minus-input .button[data-quantity="minus"]::before {
    content: "-";
    display: block;
    position: relative;
    top: -13px;
  }
  
  .plus-minus-input .button[data-quantity="plus"]::before {
    content: "+";
    display: block;
    position: relative;
    top: -13px;
  }

  .plus-minus-input .button:focus {
    outline: none;
  }
  
  